/* =========================
    Sitewide Styles
   ========================*/

/* interesting because it selects everything, does not seam to work maybe I did it wrong*/
* 
{
	color: #FFFFFF;
	font-family: Quicksand,'Gothic Round', sans-serif;  
	
 }
body
{
color: #FFFFFF;
margin: 0;
font-size: .9em; 
width: 100%;
}
sup 
{
	position: relative;
	color: #ffffff;
	font-weight: normal;
	font-size: .4em;
	left:-21px;
	top:-8px;
}
em 
{
 	font-style: normal;
}
.middle sup
{
	color: #FE7E00;
}
/*  emphasis words*/
.orange {
	font-weight: bold;
	display: inline-block;
}
.juice {
	font-weight: lighter;
	display: inline-block;
}




/*==============================
	Top Section 
===============================*/
.top 
{
	position: static;
	background-color: #FE7E00;
	display: inline-block;
	width: 100%;
	border-bottom: 5px solid #E06E18;
	padding: 2%;
	vertical-align:bottom;
	
}
.top img 
{
	width: 4%;
	margin-left: 3%;
	display: inline-block;
	border-radius: 10px;
	vertical-align:bottom;
	padding: 0% 0 1% 1%;
}
.top h1 
{	
	width: 35%;
	display:inline-block;
	font-size: 2em;
	margin:2% 0 0 -6px;
	padding: 1% 1% 1% 0;
}
.topNav 
{
	display: inline-block;
	width: 50%;
	
	float: right;
	padding: 2.5% 1% 0 0;
	margin: 2% 3% 0 0;
	vertical-align:bottom;
} 
.topNav li 
{
	display: inline-block;
	/* creates 5px of padding between content and top boarder and 10px content and right border*/
	
	/*aligns the contet vertically*/
	
	/*creates 5px of margin between top and right boarders and external elements.*/
	margin: 0 0 3% 5%;
	/*sets font size*/
	font-size: .5em;
	text-align: right;
	float: right;
	width: 8%;
}
.topNav li.caseStudies
{
	width: 17%;
}

.topNav li.contact
{
	width: 12%;
}

.topNav li a 
{
	text-decoration: none;
	float: right;
}
/*================================
	Middle Section - Search Box
=================================*/
.middle 
{
	width: 100%;
	height: 50%;
	color: #FE7E00;
	display: inline-block;
	align-items: center;
}
.search 
{	
	display: block;
  	color: #aaa;
  	width: 100%;

}	
.search input 
{   
	float: right;
	width: 25%;
	height: 1%;
	margin: 0 5% 0 70%;
	background: #f0f0f0;
	border-style: none;
}
.search .fa-search { 
	position: relative;
	text-indent: 93%;
	top: -20px;
	
	color: #aaa;	
}

.middle img 
{
	width: 45%;
	
	margin-left: 3%;

}
.pitch {
	display: inline-block;
	width: 45%;
	color: #FE7E00;
	
	margin: 0% 1% 0% -6%;

	font-size: 1.25em;
	font-weight: lighter;
	float: right;
	padding: 2%;
}	

em.web, em.app 
{
	font-weight: bold;
	display: inline-block;
	color: #7ACCC8;
}
.pitch sup {
	left: -10px;
}
em.orange, em.juice {
color: #FE7E00;
}

/*select elements in class .searchButton*/
.buttons {
		
	text-align: center;
	font-size: .5em;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	float: right;
}

.buttons .left {
	background-color: #FE7E00;
	margin-right: 0;
	margin-right:7%;
	width: 46%;
	height: 40px;
}
.buttons .leftAlt {
	background-color: #FE7E00;
	margin-right: 0;
	margin-right:7%;
	width: 46%;
	height: 40px;
}

.buttons .right {
	background-color: #7ACCC8;
	color: #fff;
	
	width: 46%;
	height: 40px;
}
/*selects buttons in elements in .searchButton classs*/
.buttons button
{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;	
	padding: 0 12px;
	display: inline-block;
	cursor: pointer;
}

/*selects buttons in elements in .searchButton classs when hoverd over gives it a solid gray brdere, gray background adn a n opaque shadow*/
.buttons button :hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
}


/*==========================================
	Bottom Section - Site Links
===========================================*/
/* selects elements in class bottomLinks puts it at the bottom permenantly and it takes up the whole width of its container*/
.bottom {
	bottom: 0 !important;
	background-color: #7ACCC8;
 	width: 100%;
	height: 20%;
	padding: 5%;
}

/*===================================
responsice desighn
===================================*/
@media (max-width: 778px)
{
	.top img
	{
		width: 5%;
	}
	.top h1
	{
		width: 45%;
	}
	.topNav li.caseStudies
	{
		display: none;
	}	
	.buttons .right
	{
		display: none;
	}
	.topNav
	{
		width: 35%
	}
	.topNav li
	{
		width: 11%;
	}
	.topNav li.contact
	{
		width: 17%;
	}
	.search .fa-search 
	{ 
	top: -20px;
	left: -5px;	
	}
}
@media (max-width: 700px)
{
	.top img
	{
		width: 6%;
	}
}

@media (max-width: 562px)
{
	.top img
	{
		width: 7%;
	}
	.top h1
	{
		width: 50%;
	}
	.topNav
	{
		width: 30%;
	}
	.topNav li.about
	{
		display: none;
	}
	.topNav li
	{
		width: 20%;
		margin: 0 0 3% 8%;
	}
	.search .fa-search 
	{ 
	top: -20px;
	left: -10px;	
	}
}
@media (max-width: 498px)
{
	.top img
	{
		width: 8%;
	}
	.top h1
	{
		width: 55%;
	}
	.topNav
	{
		width: 25%;
	}
	.topNav li
	{
		margin: 0 0 3% 11%;
	}
}
@media (max-width: 452px)
{	
	.search
	{
		float: left;
	}
	.search input
	{
		margin-left: 0;
	}

	.top img
	{
		display: none;
	}
	.top h1
	{
		width: 100%;
	}
	.topNav
	{
		width: 15%;
	}
	.topNav li
	{
		margin: 0 0 3% 11%;
	}
	.topNav
	{
		display: none;
	}
	.top
	{
		align-items: center !important;
	}
	.pitch
	{
		display: none;
	}
	.middle
	{
		align-items: center;
	}
	.middle img
	{
    	margin: 25%;
	}
	.buttons .leftAlt
	{
		margin: auto !important;
	}
}

@media	(min-width: 452px)
{
	.buttons .leftAlt
	{
	display: none;	
	}
}
@media	(max-width: 254px)
{
	.top h1
	{
		font-size: 1.5em;
	}
	.search .fa-search 
	{ 
	display: none;	
	}

}
@media	(max-width: 188px)
{
	.top h1
	{
		font-size: 1em;
	}

}
@media	(max-width: 128px)
{
	.top h1
	{
		font-size: .5em;
	}
	.buttons
	{
		font-size: .1em;
	}

}


/* responsice pitch* 

@media (max-width: 1418px){
	.pitch {
		font-size: .9em;
	}	
}
@media (max-width: 1417px){
	.pitch {
		font-size: .8em;
	}	 	 
}
@media (max-width: 1278px){
	.pitch {
		font-size: .8em;
	}	  
}
@media (max-width: 1134px){
	.pitch {
		font-size: .7em;
	}
}

@media (max-width: 994px){
	.pitch {
		font-size: .6em;
	}
}

/* responsive heading *
@media (max-width: 1403px){
	h1 {
		font-size: 1.10em;
	}	  
	.top img {
		width: 14%;
	}
}
@media (max-width: 1393px){
	h1 {
		font-size: 1.09em;
	}	 	 
}
@media (max-width: 1391px){
	h1 {
		font-size: 1.07em;
	}	  
}
@media (max-width: 1361px){
	h1 {
		font-size: 1.06em;
	}	 
	 
}
@media (max-width: 1349px){
	h1 {
		font-size: 1.05em;
	}	 
	 
}
@media (max-width: 1339px){
	h1 {
		font-size: 1.04em;
	}	 
	.top img {
		width: 15%;
		left: 14px;
	} 
}
@media (max-width: 1329px){
	h1 {
		font-size: 1.03em;
	}	 
}	 
@media (max-width: 1319px){
	h1 {
		font-size: 1.02em;
	}	 
	.top img {
		left: 13px;
	}
	.topNav li {
	font-size: 10px;
	}
	 
}
@media (max-width: 1273px){
	h1 {
		font-size: 1.01em;
	}	 
	 
}
@media (max-width: 1261px){
	h1 {
		font-size: 1.0em;
		margin:3% 0 0 10%;
	}		
	.top img {
		left: 12px;
	} 
}

@media (max-width: 1247px){
	h1 {
		font-size: .9em;
	}
	.topNav li {
	padding: 5px 0 0 0;
	margin: 10px 1px 5px 0;
	font-size: 9px;
	}
}
@media (max-width: 1125px){
	h1 {
		font-size: .8em;
		margin:4% 0 0 10%;
	}
	.top img {
		left: 11px;
	}
	.topNav li {
		
	padding: 5px 0 0 0;
	margin: 10px 1px 5px 0;
	font-size: 8px;
	}
	
}
@media (max-width: 1107px)
{
	.top img {
		left: 10px;
	}
}
@media (max-width: 1125px)
{
	h1 {
		font-size: .7em;
	}
}
@media (max-width: 977px)
{
	.pitch {
		font-size: .5em;
	}
	.topNav li {
		display: none;
	}

}

/* case studies *
@media (max-width: 943px)
{
	 .buttons button .right{
		display: none;
	}
}

**/

























